h1{ 
   font-size: 120px; 
   font-family: 'Oswald', sans-serif;
   font-weight: 800;
}

p{
   font-size: 48px;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 600;
}

.amarillo{
    color: yellow;
}

.azul{
    color:blue;
}

.violeta{
    color: violet;
}